h1{
    color:white;
    text-align: center;
    font-size: 40px;
    width: 100%;
}

body{
    background-color:rgb(81, 211, 189);
    color: black;  
}

nav ul a{
    color:black;
    text-align: center;
  }

nav ul li {
    display: inline-block;
    box-sizing: border-box;
    border-right: 2px solid rgb(39, 39, 39);
  }