h1{
    color:white;
    text-align: center;
    font-size: 40px;
    width: 100%;
}

body{
    background-color: #AAD4CF;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 /* main center frame that holds the content */
.content-holder {
    max-width: 950px;
    position: relative;
    margin: 0px  auto ;
    background-color:#D4E9E7;
}

img {
    float: left;
    width: 25%;
  }

nav ul{
    list-style: none;
    font-weight: bold;
    font-size:30px;
    letter-spacing:12px;
  }

nav ul a{
    color:black;
    text-align: center;
  }

nav ul li {
    display: inline-block;
    box-sizing: border-box;
    border-right: 2px solid rgb(39, 39, 39);
  }